<ion-view view-title="Discover">
    <div class="bar bar-subheader search-bar">
        <label class="item item-input no-padding">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchTerm">
        </label>
    </div>
    <ion-content>
        <div class="discover-tab">
            <div class="list card event" ng-repeat="item in eventFeed | filter:searchTerm">
                <div class="item">
                    <div style="font-weight: bold">{{item.event.title}}</div>
                    <span class="location-name"><i class="ion-ios-location"></i> {{item.event.location.name}}</span>
                    <!-- <span ng-if="item.event.distance" class="distance">
                        <i class="ion-ios-navigate-outline"></i> 
                        {{item.event.distance}}km
                    </span> -->
                    <span class="time">
                        <i class="ion-ios-clock"></i>
                        {{ item.event.fromDate | date:'MMM dd @ h:mma' }}
                    </span>
                </div>
                <div class="item item-body feed-container">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide ng-repeat="feed in item.feeds">
                            <div class="feed" ng-style="{'background-image':'url({{feed.media}})'}">
                                <div style="position: relative; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.45); height: 250px"></div>
                                <div class="row" style="position: absolute; top: 0%;height: 100%">
                                    <div class="col col-offset-90 col-top" style="color: white;z-index: 10000" ><i class="ion-android-person-add" style="font-size: 25px;" ng-click="joinEvent(item)"></i></div>
                                </div>
                                <div class="row row-center" style="position: absolute; top: 0%;height: 100%">
                                    <div class="col col-center" style="color: white">{{feed.title}}</div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
