<ion-view view-title="{{viewTitle}}">
    <ion-tabs class="tabs-striped tabs-background-positive tabs-color-light">
        <!-- Keymetrics Tab -->
        <ion-tab class="tab-title" title="Events" href="#/play/discover/events">
            <ion-nav-view name="tab-events"></ion-nav-view>
        </ion-tab>

        <!-- Visualize Tab -->
        <ion-tab class="tab-title" title="People" href="#/play/discover/people">
            <ion-nav-view name="tab-people"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>