<ion-view view-title="Feels">
    <ion-content scroll="true" padding="true">
        <div class="">
            <div class="row row-center">
                <div class="col col-center">
                    <h1>I feel like playing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list card list-inset">
                        <label class="item item-input">
                            <label class="item item-input">
                                <input type="search" placeholder="Choose your sport.." ng-model="searchTerm" ng-change="search()">
                            </label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="min-height: 230px; max-height: 200px">
                <div class="col">
                    <div class="list card list-inset">
                        <div class="item" ng-repeat="tag in tags | filter:searchTerm" ng-click="selectTag(tag)">
                            {{tag}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="title" style="font-size : 11px; color: #737373">
            <a href="#/play/discover/events">Skip</a>
        </div>
    </div>
</ion-view>
