<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive has-tabs-top">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <div class="list card">
                <div class="item item-avatar" ng-click="goToProfile(user)">
                    <img ng-src="{{user.image}}">
                    <h2>{{user.name}}</h2>
                    <p>{{user.status}}</p>
                </div>
            </div>
            <ion-list>
                <ion-item menu-close ui-sref="feels">
                    I Feel Like
                </ion-item>
                <ion-item menu-close ui-sref="login">
                    Login
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
