<ion-view view-title="{{viewTitle}}">
    <ion-nav-bar class="bar-positive has-tabs-top">
        <!-- <ion-nav-back-button>
        </ion-nav-back-button> -->
        <ion-nav-title>
            Profile
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src='{{profile.profileURL || "https://images.unsplash.com/photo-1442458370899-ae20e367c5d8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a980276c24e48b47f59803dc6d52d277"}}'>
                <h2>{{profile.name}}</h2>
                <p>{{profile.status}}</p>
            </div>            
        </div>
        <div class="item item-divider">
            &nbsp;
        </div>
        <div class="list card" ng-repeat="feed in feeds">
            <div class="item item-image">
                <img ng-src="{{feed.url}}" style="max-height: 250px; width: auto">
            </div>
            <a class="item assertive" ng-href="#" ng-click="gotoAd(feed.link)" >
                {{feed.title}} <span class="badge badge-assertive">{{feed.tag}}</span>
            </a>
        </div>
    </ion-content>
</ion-view>
