/* Empty. Add your own CSS if you like */

.feels-container {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}

.feels-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.event .distance, .event .time {
    float: right;
    font-size: 11x;
}

.discover-tab {
    padding-top: 40px;
}

.no-padding {
    padding: 0;
}

.platform-android .bar-subheader.search-bar {
    top: 93px;
}

.event .feed {
    height: 250px;
    background-size: cover;
}